.NavBar {
  width: 100%;
  display: grid;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PizzaContainer {
  display: flex;
  justify-content: space-around;
}

.PizzaFondo {
  display: flex;
  flex-direction: column;
  background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-black-minimalist-blackboard-tea-restaurant-pizza-e-commerce-banner-picture-image_1093777.jpg);
  height: 50vh;
  color: white;
  text-align: center;
  justify-content: center;
}
